#house{
    background-color: aquamarine;
}

b{
    background-color: pink;
}

#livingRoom{
    background-color: yellow;
}

#lv2{
    background-color: blueviolet;
}

#lv1{
    background-color: aqua;
}